<div class="row py-1 px-2">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Solde Principal
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              200000 FCFA
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-wallet"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section Operations -->
<div class="row pt-1 px-2">
  <div class="h3 heading px-2">Operations Courantes</div>
  <div class="col-md-12">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-3 py-2 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Dépôt d'argent <i class="fas fa-money-check-alt p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Annuler Transaction <i class="fas fa-window-close p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Inscrire Client <i class="fas fa-user-plus p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Modifier Client <i class="fas fa-user-edit p-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Section Client -->
<div class="row pt-1 px-2">
  <div class="h3 heading px-2">Gestion Transactions</div>
  <!-- <hr class="sidebar-divider"> -->
  <div class="col-md-12">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Dépôt Argent <i class="fas fa-money-check-alt p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Annuler Transaction <i class="fas fa-window-close p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Historique Transactions <i class="fas fa-history p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Bloquer Transaction<i class="fas fa-lock p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Debloquer Transaction<i class="fas fa-unlock p-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Section Client -->
<div class="row pt-1 px-2">
  <div class="h3 heading px-2">Gestion Client</div>
  <div class="col-md-12">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Inscrire Client<i class="fas fa-user-plus p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Modifier Client <i class="fas fa-user-edit p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Bloquer Client<i class="fas fa-user-slash p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Debloquer Client <i class="fas fa-unlock p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Associer Compte <i class="fas fa-link p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Liste Comptes <i class="fas fa-wallet p-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Section Compte -->
<div class="row pt-1 px-2">
  <div class="h3 heading px-2">Gestion Compte</div>
  <div class="col-md-12">
    <div class="row d-flex align-items-stretch">
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Ajouter Compte<i class="fas fa-plus p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Deplafonner Compte<i class="fas fa-hand-holding-usd p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Bloquer Compte <i class="fas fa-unlock p-1"></i>
        </button>
      </div>
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Debloquer Compte<i class="fas fa-unlock p-1"></i>
        </button>
      </div>
      
      <div class="col-md-3 py-2">
        <button
          type="button"
          class="btn btn-outline-primary btn-lg d-flex w-100 justify-content-center"
        >
          Liste Comptes <i class="fas fa-wallet p-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
